<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>

        </tr>
    {% for i in x %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.Name}}</td>
        <td>{{i.Age}}</td>
        <td>{{i.Email_id}}</td>
        <td>{{i.Phone}}</td>
        <td><a href="empdel/{{i.id}}">DELETE</a></td>
        <td><a href="empedit/{{i.id}}">EDIT</a></td>
    </tr>
    {% endfor %}
    </table>
    
</body>
</html>