{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="{% static 'js/one.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to html</h1>
    <p>This is paragraph </p>
    <h3 id="demo"></h3>
    <script src="{% static 'js/one.js' %}"></script>
    <img src="{% static 'images/porche.jpg' %}" height="400px" width="200px" alt="porche">

</body>
</html>